 
/* .preview-body {
  position: relative;
  top: 70px;
} */

.detail-section{
  padding-top: 12%;
}
 

.preview-main-card {
  background-size: cover;
  background-position: center;
  height: 550px;
}

@media (max-width: 768px) {
  .preview-main-card {
    height: 350px;
  }
}

@media (max-width: 576px) {
  .preview-main-card {
    height: 250px;
  }
}

 
 


