@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');


.card-subtitle {
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.preview-main-card {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  aspect-ratio: 4 / 3; /* Or 16/9 or 3/2 depending on your image dimensions */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: aspect-ratio 0.3s ease;
  border: none;
}

/* Optional: Adjust aspect ratio on smaller screens */

.detail-section {
  padding-top: 12%;
}

.preview-body {
  height: 100%;
}


.detail-section {
  padding-top: 12%;
}

.custom-modal-backdrop {
  background-color: rgba(0, 0, 0, 0.6) !important;
}

.custom-modal-content {
  background-color: rgba(255, 255, 255, 0.97);
  border-radius: 1rem;
}


@media (max-width: 768px) {
  .preview-main-card {
    aspect-ratio: 4 / 5;
  }


  .detail-section {
    padding-top: 8%;
  }
}

@media (max-width: 576px) {
  .preview-main-card {
    height: 250px;
  }

  .detail-section {
    padding-top: 5%;
  }

  .preview-body h5 {
    font-size: 0.95rem;
  }
}
