.homepage {
  background-color: #f1f0f0;
}

.about-left {
  min-height: 480px;
  background-color: white;
  border-radius: 1rem;
}

.view-more {
  position: relative;
  left: 25px;
  transform: translateY(-50%);
  text-decoration: none;
  color: #007bff;
}

.about-right video {
  width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

/* Mobile Responsiveness */
@media screen and (max-width: 767px) {
  .about {
    flex-direction: column;
  }

  .about-right {
    margin-top: 20px;
  }

  .about-left {
    margin-bottom: 20px;
  }

  .view-more {
    left: 0;
    transform: none;
    display: block;
    text-align: center;
    margin-top: 10px;
  }
}
