.homepage{
    background-color: #f1f0f0;
}

.about-left{
    /* max-width: 400px; */
    min-height: 480px;
    background-color: white;
}

.view-more{
    position: relative;
    left: 25px;
    transform: translateY(-50%);
    text-decoration: none;
}

.about-right img{
    width: 90%;
    position: relative;
    left: 50px;
}


@media  screen and (max-width: 767px) {
    .about{
        flex-direction: column;
    }
    .about-right img{
        width: 100%;
        position: relative;
        left: 0px;
        margin-top: 50px;
    }
}