.card-slider{
    box-sizing: border-box;
}

.nav-pills .nav-link {
  cursor: pointer;
  font-weight: bold;
  font-size: .9rem;
  padding: 4px 15px;
}

.nav-pills .nav-link.active {
  background-color: #245284;
  color: white;
}

.carousel-item {
  transition: transform 0.5s ease-in-out;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* Move prev/next buttons to the far left and right */
/* .carousel-control-prev,
.carousel-control-next {
  top: 50%;
  transform: translateY(-50%);
  width: auto;
  background: none;
  padding: 0 1rem;
  z-index: 10;
} */

/* .carousel-control-prev {
  left: -30px; 
}

.carousel-control-next {
  right: -30px; 
} */

/* Optional: adjust icon size */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-size: 2rem 2rem;
}


@media (max-width: 768px) {
  .col-md-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .card{
    margin-left: 10px;
    margin-right: 10px;
  }
}
