.info-box {
  background-color: #f0f0f0; /* Light gray background */
  border: .7px solid #ccc; /* Optional: border for the box */
  border-radius: 2px; /* Optional: rounded corners */
  padding-right: 0; /* Padding inside the box */
  padding-top: 10px;
  box-shadow: 0 1px 5px rgba(163, 163, 163, 0.1);
  display: flex;
  gap: 40px;
  width: 100%;
  height: 12vh;
  justify-content: center;
  font-size: .9rem;
  text-align: center;
  align-items: center;
  margin-bottom: 15px;
}

